@import "tailwindcss";

:root {
  --deep-space: #0a0a0f;
  --cosmic-blue: #1a1a2e;
  --nebula-purple: #16213e;
  --starlight: #e94560;
  --accent-cyan: #0f3460;
  --text-main: #eaeaea;
  --text-secondary: #a0a0a0;
  --glow: rgba(233, 69, 96, 0.3);
  --glass: rgba(255, 255, 255, 0.05);
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #050b18;
}

@layer base {
  .container {
    @apply max-w-6xl mx-auto px-5;
  }

  .text-main {
    @apply text-white;
  }

  body {
    font-family: "Space Grotesk", sans-serif;
  }

  h1 {
    @apply text-5xl md:text-7xl font-bold leading-tight;
  }

  h2 {
    @apply text-4xl md:text-4xl font-bold leading-tight;
  }

  h3 {
    @apply text-3xl font-bold leading-tight;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply font-bold;
  }

  .banner {
    background:
      linear-gradient(rgba(5, 11, 24, 0.8), rgba(5, 11, 24, 0.8)),
      url("../img/home-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text-secondary {
    @apply text-[#a0a0a0];
  }

  .tech_spec_contents {
    @apply flex flex-col rounded-md bg-[#121217] mt-10 max-w-[750px];
  }

  .tech_spec_contents .tech_spec_content {
    @apply grid grid-cols-[40%_60%] gap-5 border-b border-[#a0a0a0] last:border-b-0 p-5;
  }

  .tech_spec_content .text-secondary {
    @apply self-center;
  }
}

@layer components {
  .header {
    @apply py-5 bg-primary text-white relative;
  }

  .header__wrapper {
    @apply flex items-center justify-between;
  }

  .header__logo {
    @apply flex items-center text-lg font-semibold tracking-wide;
  }

  .header__logo img {
    @apply size-15 relative top-1;
  }

  /* burger button - visible only on mobile */
  .header__burger {
    @apply flex flex-col gap-1 md:hidden;
  }

  .header__burger span {
    @apply block w-6 h-0.5 rounded-md bg-white transition-transform duration-300 ease-in-out;
  }

  .header__burger.active span:nth-child(1) {
    @apply rotate-45 translate-y-[6px];
  }

  .header__burger.active span:nth-child(2) {
    @apply opacity-0;
  }

  .header__burger.active span:nth-child(3) {
    @apply -rotate-45 -translate-y-[6px];
  }

  /* Navigation container */
  .header__nav {
    /* MOBILE: absolute dropdown */
    @apply absolute top-full left-0 w-full bg-primary hidden md:block md:static md:w-auto;
  }

  /* Navigation list: flex row on desktop, column on mobile */
  .header__nav ul {
    @apply flex flex-col items-center gap-6 py-6 md:flex-row md:gap-10 md:py-0;
  }

  .header__nav a {
    @apply transition hover:text-white;
  }

  .header__nav .active {
    @apply text-white border-b-2 border-red-500 pb-1;
  }

  /* open state for mobile menu */
  .header__nav.open {
    @apply block;
  }

  .btn {
    @apply inline-flex items-center gap-2 px-6 py-3 rounded-full font-medium transition items-center justify-center;
  }

  .btn img {
    @apply size-5 relative top-1 object-contain;
  }

  .btn--third {
    @apply border border-pink-500 text-pink-500 
         shadow-[0_0_12px_rgba(236,72,153,0.6)]
         bg-pink-500/10
         hover:bg-pink-500/30;
  }

  .btn--4rth {
    @apply border border-[#81898d] text-[#81898d] bg-[#121217];
  }

  .btn--primary {
    @apply bg-[var(--starlight)] text-white font-bold hover:bg-pink-600;
  }

  .btn--secondary {
    @apply border border-white text-white bg-transparent 
         hover:bg-white hover:text-primary;
  }

  .tabCard {
    @apply flex flex-col items-center justify-center bg-[#1d1d1daf] rounded-xl p-6 shadow-lg min-w-[200px] min-h-[200px];
  }
  .tabCard .cardCounter {
    @apply text-9xl md:text-6xl font-bold text-pink-500 m-0;
  }
  .tabCard p {
    @apply text-gray-400 mt-6;
  }

  .social__card {
    @apply bg-[#16161b] border-[1.5px] border-[#27272b] flex items-center justify-center rounded-full w-10 h-10;
  }

  .social__card i {
    @apply text-[var(--text-secondary)];
  }

  .mission__card {
    @apply bg-[#141c34] relative rounded-2xl overflow-hidden max-w-[480px] border-[1px] border-[#919395];
  }

  .mission__card .card__status {
    @apply absolute right-5 top-5  flex gap-2 rounded-full  py-1 px-3 border-[1px];
  }

  .mission__card .card__status.card__active {
    @apply border-green-500 text-green-500 bg-green-500/20;
  }

  .mission__card .card__status.card__not__active {
    @apply border-red-500 text-red-500 bg-red-500/10;
  }

  .mission__card .mc__image img {
    @apply max-h-[250px] w-full object-cover;
  }

  .mission__card .info {
    @apply p-5;
  }

  .mission__card .date {
    @apply flex items-center gap-2;
  }

  .mission__card .date .date__text {
    @apply text-[#e94560] text-[16px] font-bold;
  }

  .mission__card .info {
    @apply flex flex-col gap-5 text-white text-[20px];
  }

  .mission__card .info p {
    @apply text-[#919395];
  }

  .mission__card .line {
    @apply w-full h-[1px] bg-[#919395];
  }

  .mission__card .bot__icon {
    @apply flex gap-5 items-center;
  }

  .mission__card .content__icon {
    @apply flex gap-2 items-center justify-center;
  }
  .card__main__status {
    @apply flex items-center justify-center gap-2 w-fit px-4 py-2 rounded-full;
  }
  .card__main__status::before {
    content: "";
    @apply inline-block w-2 h-2 rounded-full bg-green-500;
  }
  .card__main__status.card__active {
    @apply border-green-500 text-green-500 bg-green-500/20;
  }

  .card__banner {
    background:
      linear-gradient(rgba(5, 11, 24, 0.8), rgba(5, 11, 24, 0.8)),
      url("../img/moon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .key__achievements__img {
    @apply h-[300px] w-full rounded-2xl object-cover;
  }

  .tech__tab__item {
    @apply flex;
  }

  .mission__data {
    @apply flex flex-col gap-5 p-5 border border-[#27272b] rounded-2xl mt-10 bg-[var(--cosmic-blue)];
  }

  .graph__container {
    @apply block h-2 w-full rounded-full bg-[#a0a0a0];
  }

  .mission__graph {
    @apply block h-2 w-[70%] rounded-full bg-gradient-to-r from-pink-500 to-blue-500;
  }

  .mission__data .line {
    @apply block h-[1px] w-full bg-[#a0a0a0];
  }

  .quick__links {
    @apply flex flex-col gap-8 p-5 pb-10 border border-[#27272b] rounded-2xl mt-10 bg-[var(--cosmic-blue)];
  }

  .quick__links p {
    @apply text-[var(--text-secondary)];
  }

  .quick__links .quick__links__data {
    @apply flex flex-col gap-8;
  }

  .share__mission {
    @apply flex flex-col gap-5 p-5 border border-[#27272b] rounded-2xl mt-10 bg-[var(--cosmic-blue)];
  }
  .share__mission h5 {
    @apply text-white;
  }

  .selected__mission__card {
    @apply flex flex-col border border-[var(--text-secondary)] rounded-2xl overflow-hidden;
  }

  .selected__mission__card img {
    @apply h-[250px] object-cover;
  }

  .selected__mission__card .text h5 {
    @apply text-[var(--text-main)];
  }
  .selected__mission__card .text {
    @apply p-5;
  }

  .selected__mission__card .text p {
    @apply text-[var(--text-secondary)] mt-2;
  }

  .space__craft__body {
    background:
      linear-gradient(rgba(5, 11, 24, 0.8), rgba(5, 11, 24, 0.8)),
      url("../img/stars.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main__content__wrapper {
    @apply text-white;
  }

  .main__content__wrapper .box1 {
    @apply flex flex-col items-center justify-center h-[200px] w-[200px] rounded-2xl bg-gradient-to-br from-white to-[#97d2f5];
  }

  .main__content__wrapper .box1 .inner__item {
    @apply h-[120px] w-[120px] rounded-2xl bg-gradient-to-br from-[#2596be] to-[#212c3e];
  }

  .main__content__wrapper .box2 {
    @apply flex flex-col items-center justify-center h-[200px] w-[200px] rounded-2xl bg-gradient-to-br from-[#f9ba22] to-[#db7b08];
  }

  .main__content__wrapper .box2 .inner__item {
    @apply h-[100px] w-[100px] rounded-full bg-gradient-to-br from-[#fac840] to-[#f6a616];
  }

  .main__content__wrapper .box3 {
    @apply flex flex-col items-center justify-center h-[200px] w-[200px] rounded-2xl bg-gradient-to-br from-[#5ca0f9] to-[#2967eb];
  }

  .main__content__wrapper .box3 .inner__item {
    @apply h-[50px] w-[80%] rounded-md bg-gradient-to-br from-[#98b9ff] to-[#2967eb];
  }

  .box__container {
    @apply flex flex-col items-center justify-center h-[600px];
  }

  .spc__cards {
    @apply grid grid-cols-2 grid-rows-2 gap-5;
  }

  .spc_card {
    @apply flex flex-col gap-2 bg-[var(--glass)] p-5 rounded-md border border-[var(--glass)];
  }

  .spc_card h4 {
    @apply text-[var(--starlight)];
  }

  .space__craft__item {
    @apply flex flex-col items-center justify-center md:grid md:grid-cols-2;
  }
  .space__craft__item:nth-child(even) {
    @apply md:[&>*:first-child]:order-2 md:[&>*:last-child]:order-1;
  }

  .space__craft__item button {
    @apply w-full mt-5 md:w-fit;
  }

  .gallery__body {
    background:
      linear-gradient(rgba(5, 11, 24, 0.8), rgba(5, 11, 24, 0.8)),
      url("../img/stars.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .images__wrapper {
    @apply flex flex-col gap-5 mb-20 md:grid md:grid-cols-4 md:grid-rows-4;
    grid-template-areas:
      "a a b c"
      "a a d d"
      "e f . ."
      "e . . .";
  }

  .img-a {
    grid-area: a;
  }
  .img-b {
    grid-area: b;
  }
  .img-c {
    grid-area: c;
  }
  .img-d {
    grid-area: d;
  }
  .img-e {
    grid-area: e;
  }
  .img-f {
    grid-area: f;
  }

  .images__wrapper img {
    @apply rounded-2xl object-cover  md:w-full md:h-full md:object-cover;
  }
}
